<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAugEWOuNrKvXG5Ksyy3Xrxkuvvcc5GG8w</string>
	<key>GCM_SENDER_ID</key>
	<string>1924101320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hamApp</string>
	<key>PROJECT_ID</key>
	<string>hamburger-5a879</string>
	<key>STORAGE_BUCKET</key>
	<string>hamburger-5a879.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1924101320:ios:6872d0c377f9ae8db321fd</string>
</dict>
</plist>